@import url('https://fonts.googleapis.com/css?family=Roboto|Viga&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.theme-bright {
  --background-color: #e5e5e5;
  --green-color: #3A6254;
  --text-color: #3C3744;
}

.theme-dark {
  --background-color: #3C3744;
  --green-color: #C41E3D;
  --text-color: #e5e5e5;
}

body {
  background-color: var(--background-color);
  transition: color ease-out 250ms;
  overflow-x: hidden;
}

button {
    display: block;
    border: none;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button:focus, button:active {
    outline: none;
    }

button:active {
    transform: scale(1);
}

.wrapper {
  margin-top: 25vh;
  margin-left: 15vh;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;

  height: 5%;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  padding: 1rem;
}

section {
  margin-bottom: 0.2rem;
  text-align: center;
  margin-top: -5rem;
  z-index: 1;
}

h2 {
  font-size: 1.2em;
  font-family: 'Viga', sans-serif;
}

h2, * + p {
  margin-bottom: 0.5rem;
}

section > p:last-of-type {
  color: transparent;
  text-shadow: 0 0 0 var(--text-color);
  transition: text-shadow ease-out 250ms;
}

.toggle {
  background-color: var(--text-color);
  min-width: 60px;
  min-height: 30px;
  margin-bottom: 1rem;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color ease-out 250ms;
}

.toggle::after {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  transition: transform ease-out 250ms;
}

.toggle.clicked::after {
  transform: translateX(100%);
}

.sun, .sun::after {
  background-color: var(--green-color);
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.sun {
  transform: rotate(-25deg);
  transition: background-color ease-out 250ms;
}
 
  .sun::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: var(--background-color);
  transition: transform ease-out 250ms;
  transition-delay: 20ms;
}

.sun.clicked::after {
  transform: translateY(-30%);
}

@media screen and (max-height: 560px) {
  .sun, .sun::after {
    margin-bottom: calc(-6rem - 12vh);
    z-index: -1;
  }
}

